#Dotnet Native
obj
bin
.vs

#Dotnet Publish Artifacts
publish

#For container persistance
container-data

# TODO Configuration files, will enable them later on.
appsettings.json
appsettings.Development.json
